<div class="container">
    <div class="row my-5">
      <div>
        <h1>Postulaciones actuales</h1>
        <hr>
        <table *ngIf="hayRegistros(); else sinsolicitudes">
          <tr>
            <td>AsuntoLicitacion</td>
            <td>Nombre</td>
            <td>Apellido</td>
          </tr>

          <tr *ngFor="let art of articulos">
					  <td>{{art.asunto_liquidacion}}</td>
            <td>{{art.nombre}}</td>
            <td>{{art.apellido}}</td>
          </tr>
			  </table>
      </div>    
    </div>
    <ng-template #sinsolicitudes><p>No hay Licitaciones.</p></ng-template>
</div>